@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:'Lato', sans-serif;
    color: blue;
    line-height:1.5;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: blueviolet;
}

p{
    margin: 10px 0;
}

.image{
	width:100%;
	height:400px;
	display:flex;
	justify-content:left;
	align-items: center;
}

.image img{
	height:300px;
	width:300px;
	border-radius:50%;
	border:10px dashed #0000CC;
    margin-left: 50px;
    margin-top: 50px;
}

.navbar{
    background: #00ffd5;
    display: inline;
    height: 70px;
    position: fixed;
    width: 100%;
}

.navbar ul{
    display: flex;
}
.navbar a{
    color: royalblue;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px #00FF00 groove;
}

.navbar .flex{
    justify-content: space-between;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.flex{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
}